/Lab-Task-3(Alisha)/nbproject/private/
/Lab-Task-3(Alisha/nbproject/private/
/Lab-Task-3(Alisha/build/
/Lab-Task-4(Alisha)/nbproject/private/
/Lab-Task-4(Alisha)/build/
/DBConnect/nbproject/private/
/DBConnect/build/
/Calculator/nbproject/private/
/Calculator/build/
/JavaApplication10/nbproject/private/
/JavaApplication10/build/
/JavaFx/nbproject/private/
/FirstLayoutDemo/nbproject/private/
/FirstLayoutDemo/build/
/JavaTask1/nbproject/private/
/JavaTask1/build/
/DatatypevariablesandInput/nbproject/private/
/DatatypevariablesandInput/build/
/UserInput/nbproject/private/
/UserInput/build/
/Tomcat/nbproject/private/
/Tomcat/build/
/servlet/nbproject/private/
/Multithreading/nbproject/private/
/Multithreading/build/
/Treadcases/nbproject/private/
/Treadcases/build/
/ThreadPrioties/nbproject/private/
/moviebookapp/nbproject/private/
/ThreadPrioties/build/
/moviebookapp/build/
/Applet/nbproject/private/
/LearningApplet/nbproject/private/
/AppletProject/nbproject/private/
/AppletProject/build/
/Networking/nbproject/private/
/Networking/build/
/send_mail/nbproject/private/
/servlet/dist/
/Lab-Task-5(Alisha)/nbproject/private/
/Lab-Task-5(Alisha)/build/
/Lab-Task-6(Alisha)/nbproject/private/
/Lab-Task-6(Alisha)/build/
/Lab6JavaMail(Alisha)/nbproject/private/
/Lab6JavaMail(Alisha)/build/
/ServletDemo(Alisha)/nbproject/private/
/ServletDemo(Alisha)/build/
/ServletDemo(Alisha)/dist/
/SimpleInterestAlisha/nbproject/private/
/SimpleInterestAlisha/build/
/SimpleInterestAlisha/dist/
/ShopCRUDAlisha/nbproject/private/
/ShopCRUDAlisha/build/
/ShopCRUDAlisha/dist/
